*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/codeStyles
/.idea/misc.xml
/.idea/gradle.xml
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/.idea/jarRepositories.xml
/app/production/release
/app/np3/release/
/app/stg/release/
gradlew
gradlew.bat
.idea/.gitignore
.idea/runConfigurations.xml
.idea/vcs.xml
